* {
    box-sizing: border-box;
}

body {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#services {
    flex: 1;
    width: 40%;
    margin: 0 auto;
    color: #799fbd;
    padding: 2rem 4rem;
}

#services div {
    display: flex;
    justify-content: space-between;
}

#services span {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    text-transform: uppercase;
}

#services p {
    color: #dab681;
    font-size: large;

}


#articles {
    flex: 1;
}

#articles div {
    max-width: 70%;
} 
